build/app/outputs
./.git/objects/pack/pack-450d6ca8a0b9ac452b4a031f9e14534b998fb5bd.pack
./build/app/outputs/apk/debug/app-debug.apk
./build/app/outputs/flutter-apk/app.apk
./build/app/outputs/flutter-apk/app-debug.apk
.dart_tool/chrome-device/Default/Sync Data/LevelDB/MANIFEST-000001
.dart_tool/chrome-device/Default/History-journal
*.log
.dart_tool/chrome-device/Default/Login Data
*.old
./build
build
./build/
build/
.packages
.flutter-plugins-dependencies
.flutter-plugins
.dart_tool/version
.dart_tool/package_config_subset
.dart_tool/package_config.json
.dart_tool
.dart_tool/*
./.dart_tool
./.dart_tool/
./.flutter-plugins
./.flutter-plugins-dependencies
./.packages
./.packages/
